/* ===============================================================
global declarations
==================================================================*/

.form-group.required .col-form-label:after {
  content:"*";
  color:red;
  margin-left:5px;
}

.displaysection h1{
  text-align:center;
} 
/* ===============================================================
namesection declarations
==================================================================*/
.haserror{
  border:1px solid red;
}

/*
Gender section stylings
==================================================================*/

.genderinput1{
  display:inline;
}

.genderinput2{
  display:inline;
}

/*
phone section stylings
==================================================================*/
.phonesection .col-sm-1{
  max-width:10px;
}

.citystate{
  width:100%;
}
/*
email section stylings
==================================================================*/
#inputemail{
  width:84%;
}

#inputname2{
  width:67%;
}

/*
display section stylings
==================================================================*/

#showdetails{
  display:none;
}

.displaysection label{
  font-size: 30px;
  margin-right:40px;
} 

.displaysection p{
  font-size:20px;
}

.displaysection .row{
  justify-items: center;
}