/* ===============================================================
global declarations
==================================================================*/

.form-group.required .col-form-label:after {
  content:"*";
  color:red;
  margin-left:5px;
}

/*
Gender section stylings
==================================================================*/

.genderinput1{
  display:inline;
}

.genderinput2{
  display:inline;
}

/*
phone section stylings
==================================================================*/
.phonesection .col-sm-1{
  max-width:10px;
}

.citystate{
  width:100%;
}
/*
email section stylings
==================================================================*/
#inputemail{
  width:84%;
}

#inputname2{
  width:67%;
}

/*
display section stylings
==================================================================*/

#showdetails{
  display:none;
}