#layout
{
  text-align: center;
  background-color:ffffff;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
.timesection p
{
  font-size:10em;
  color:rgb(238, 8, 8);
}
p
{
  margin:0;
  font-size:3em;
}
#ampm{
  font-size: 2em;
  padding-top: 150px;
}
#datehere
{
  color:rgb(223, 106, 10);
  margin-top:100px;
}
